.events-image {
  max-width: 100%;
  height: auto;
  display: block;
}

#iconRow {
    margin: 20px 0;
    background-repeat: no-repeat;
    background-image: url(../../static/icon_row_small.png);
    clear: both;
    height: 102px;
}
