#logo {
  background-image: url(Just_leaves-01_smallest.png);
    width: 110px;
    height: 122px;
    margin-left: 0;
    margin-bottom: -65px;
    float: left;
}
.jumbotron {
    margin-bottom: 30px;
    color: inherit;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    clear: both;
}

.jumbotron .h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Raleway, sans-serif;
    color: #3C3;
    line-height: 1.1;
}

.jumbotron p {
    font-size: 18px;
    line-height: 25px;
    padding-right: 5px;
    padding-top: 5px;
    color: #777;
    font-weight: 200;
}

#big_photo {
    margin-top: -40px;
    background-image: url(../../static/icon_row_small.png);
    background-repeat: no-repeat;
    height: 90px;
    width: 850px;
}
