version: 2
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/node:8.9

    steps:
      - checkout

      - run: npx npm@5.7.1 ci

      - run: npm test

  deploy:
    working_directory: ~/repo
    machine: true

    steps:
      - checkout

      - run: docker build -t focustas_web:$CIRCLE_BRANCH --build-arg NODE_ENV=production .

  promote:
    working_directory: ~/repo
    machine: true

    steps:
      - run: echo "promote!"

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
      - promote:
          requires:
            - deploy
          filters:
            branches:
              only: master
