.navbar {
  background-image: url(./background.jpg);
  background-repeat: repeat-x;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  padding: .5rem 1rem;
  margin-bottom: 20px;
  z-index: 10;
}

.navbar-brand {
  text-align: right;
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 2rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  
  @media (min-width: 767px) {
    text-align: left;
  }
}